.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100p {
    height: 100%;
}

.w-100p {
    width: 100%;
}

.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.pad-col {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
}